In [1]:
# Importing the libraries

In [2]:
import pandas as pd
import matplotlib as plt
import sklearn as sk
import numpy as np

In [3]:
# Importing the dataset

In [4]:
data = pd.read_csv("Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
# Encoding categorical data

In [6]:
data = pd.get_dummies(data,drop_first=True)
data.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Male
0  15624510   19            19000          0            1
1  15810944   35            20000          0            1
2  15668575   26            43000          0            0
3  15603246   27            57000          0            0
4  15804002   19            76000          0            1

In [7]:
# Splitting the dataset into the Training set and Test set

In [8]:
from sklearn.cross_validation import train_test_split

C:\Users\danda\Anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
x_train,x_test,y_train,y_test = train_test_split(data.iloc[:,[1,2,4]],data.iloc[:,3],test_size=0.25,random_state=0)

In [10]:
# Feature Scaling

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [12]:
# Fitting SVM to the Training set

In [13]:
from sklearn import svm

In [14]:
classifier = svm.SVC(kernel='rbf',C=1,gamma=1)
classifier.fit(x_train,y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [15]:
# Predicting the Test set results

In [16]:
predicted = classifier.predict(x_test)

In [17]:
# Making the Confusion Matrix

In [18]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,predicted)
cm

array([[64,  4],
       [ 3, 29]], dtype=int64)

In [19]:
# What is your score

In [20]:
classifier.score(x_test,y_test)

0.93